<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<h1>사원 목록</h1>
<table border="1">
    <thead>
    <tr>
        <th>사번</th>
        <th>이름</th>
        <th>직종</th>
        <th>매니저</th>
        <th>입사일</th>
        <th>급여</th>
        <th>보너스</th>
        <th>부서번호</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="emp : ${empList}">
        <td th:text="${emp.empno}"></td>
        <td th:text="${emp.ename}"></td>
        <td th:text="${emp.job}"></td>
        <td th:text="${emp.mgr}"></td>
        <td th:text="${emp.hiredate}"></td>
        <td th:text="${emp.sal}"></td>
        <td th:text="${emp.comm}"></td>
        <td th:text="${emp.deptno}"></td>
        <td><a th:href="@{'/' + ${emp.empno}}">상세정보</a></td>
    </tr>
    </tbody>
</table>
<form action="/search" method="get">
    <input type="text" name="ename" placeholder="검색할 문자를 입력해주세요">
    <button type="submit">검색</button>
</form>
<a href="/insert" >사원등록</a>
</body>
</html>
